.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 23%;
}

.row {
    display: flex;
    justify-content: center;
    gap: 20px; /* تباعد بين الأزرار */
    flex-wrap: wrap;
}

a {
    text-decoration: none; /* إزالة تأثير الرابط */
}

button {
    width: 200px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    background-color: #e6aa55;
    color: black;
    font-size: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    transform-style: preserve-3d;
    border: 2px solid black;
}

button:hover {
    background-color: #fdc16c;
    transform: perspective(500px) translateY(-5px) rotateX(10deg) rotateY(20deg) scale(1.1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

button:active {
    transform: perspective(500px) translateY(8px) rotateX(0deg) rotateY(0deg);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
