html, body {
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.login-container {
  max-width: 25vw;
  margin: 5% auto;
  padding: 20px;
  border: 3px solid #e6aa55;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.title {
  background-color: #e6aa55;
  padding: 10px;
  font-size: 1.5rem;
  margin-bottom: 20px;
  border-radius: 10px;
  font-weight: bold;
  color: #fff;
}

.title h1 {
  margin: 0;
}

.form-group {
  display: flex;
  flex-direction: column; /* Changed to column layout */
  align-items: center;
  gap: 5px;
  margin: 10px 0;


}

.form-group label {
  font-weight: bold;
  width: auto;
  text-align: center;
}

.form-group input {
  padding: 12px;
  width: 250px;
  border: 1px solid transparent;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0);
  backdrop-filter: blur(4px);
  color: #333;
  font-size: 1rem;
  transition: all 0.3s ease;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.278);
  
}

.form-group input:focus {
  outline: none;
  border: 1px solid #e6aa55;
  background: rgba(255, 255, 255, 0.35);
  box-shadow: inset 0 1px 5px rgba(0,0,0,0.2);
}

.submit-btn {
  background-color: #e6aa55;
  color: #181818;
  border: none;
  padding: 15px 45px;
  border-radius: 8px;
  text-decoration: none;
  border-bottom: 3px solid #181818;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 20px;
  transform: rotateX(45deg) scale(1.1);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transform-origin: center bottom;
  font-weight: bold;
}
.submit-btn:hover {
  transform: rotateX(0deg) ;
  box-shadow: 0 19px 17px rgba(0, 0, 0, 0.3);
  font-weight: bold;

}

.btn-container {
  perspective: 800px;
}


.error-text {
  color: red;
  font-weight: bold;
  transition: all 0.3s ease;
  transform: translateX(2px);
}
.error-box {
  list-style-type: none;
  padding-left: 0;
  animation: shake 0.5s ease-in-out;
}

@keyframes shake {
  0% { transform: translateX(0); }
  20% { transform: translateX(-10px); }
  40% { transform: translateX(10px); }
  60% { transform: translateX(-10px); }
  80% { transform: translateX(10px); }
  100% { transform: translateX(0); }
}

.error-box ul {
  list-style-type: none;
  padding-left: 0;
}


.admin-access-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #e6aa55;
  color: #fff;
  padding: 10px 20px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.admin-access-btn:hover {
  background-color: #d48b40;
}