body {
    background-color: #fdefc7;
    margin: 1%;
    margin-top: 100px;
    font-family: Arial, sans-serif;
}

nav {
    position: fixed;
    top: 0;
    left: 5%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    background-color: #ffffff;
    border-radius: 20px;
    z-index: 1000;
    margin-top: 1%;
    padding: 0 4px;
    border-bottom: 2px solid #d6822d;

}


.nav-center {
    border: 1px solid #d6822d;
    padding: 3px;
    border-radius: 53px;
}

.nav-left, .nav-center, .nav-right {
    display: flex;
    align-items: center;
    gap: 25px;
}

.circle-btn {
    display: inline-block;
    width: 120px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e6aa55;
    color: rgb(0, 0, 0);
    text-align: center;
    text-decoration: none;
    margin: 5px;
    font-size: 14px;
    transition: background-color 0.3s, transform 0.5s;
}

.circle-btn:hover {
    background-color: #fdc16c;
    transform: scale(1.1);
}

.nav-left img {
    border-radius: 50%;
    margin-right: 10px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: #7c7c7c;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 120px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 10px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.modal {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}

.modal-content {
    background-color: white;
    padding: 20px;
    margin: 15% auto;
    width: 50%;
    text-align: center;
    border-radius: 10px;
}

.close {
    float: right;
    font-size: 24px;
    cursor: pointer;
}

.modal-btn {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 80%;
    text-align: center;
    background-color: #e6aa55;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}
